*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 150px;
    background-color: #edede7;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.831);
    border-radius: 20px;
}
body{
    background-color: #8f9293;
}
.agecnvt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}