*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 190px;
    background-color: #edede7;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.831);
    border-radius: 20px;
}

body{
    background-color: #8f9293;
}
input{
    border-radius: 3px;
    border: 1px solid gray;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
